<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>{{title}}</title>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <link rel="stylesheet" href="/stylesheets/bootstrap.css">
  <link rel="stylesheet" href="/stylesheets/css/all.css">
  <link rel="stylesheet" href="/stylesheets/css/slid">
  <link href="https://fonts.googleapis.com/css?family=Poppins:400,500,600&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="/stylesheets/slider.css">
  <link rel="stylesheet" href="/stylesheets/images.css">
  <link rel="stylesheet" type="text/css" href="stylesheets/default.css" />
		<link rel="stylesheet" type="text/css" href="stylesheets/component.css" />
		<script src="javascripts/modernizr.custom.js"></script> 
  {{#if indexCSS}}
  <link rel="stylesheet" href="/stylesheets/index.css">
  {{/if}}
  {{#if errorCSS}}
  <link rel="stylesheet" href="/stylesheets/error.css">
  {{/if}}

  
</head>

<body style="background-color: rgb(147,36,36);" class="position-relative">

  <nav class="navbar fixed-top navbar-dark bg-dark">
    <a href="/" class="navbar-brand">Robo-Danceoff</a>
    <a href="" class="nav-link btn btn-outline-light" data-toggle="modal" data-target="#enterTeam">Let's Dance</a>
    <a href="/leaderboard" class="nav-link btn btn-outline-light">Leaderboard</a>

  </nav>

  	 <!--Enter Team Name-->
            <div class="modal fade" id="enterTeam" tabindex="-1" role="dialog" aria-labelledby="Search Modal"
              aria-hidden="true">
              <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
                <div class="modal-content">
                  <div class="modal-header">
                    <h5 class="modal-title text-secondary font-weight-bold"><i class="fas fa-robot"></i> Give your Teams Names</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                      <span aria-hidden="true">&times;</span>
                    </button>
                  </div>
                  <div class="modal-body text-secondary">
          		<div class="main clearfix">
					  <h3><code>Click on the <u>underlined</u> sections to enter a Team Name</code></h3>
				<form id="nl-form" class="nl-form" action="teams" method="GET">
					In the left corner we have  
					<input type="text" name="teamOne" value="" placeholder="the Home Team" data-subline="For example: <em>The Rust Buckets</em> or <em>The Tin Cans</em>" required/>
					<br />and in the right corner we have
					<input type="text" name="teamTwo" value="" placeholder="the other Team" data-subline="For example: <em>Circuit Breakers</em> or <em>Nuts and Bolts</em>" required/>
					
					<div class="nl-submit-wrap">
						<button class="nl-submit" type="submit">Get the Team Members</button>
						
					</div>
					<div class="nl-overlay"></div>

				
				</form>
<br>
<br>
				
					
			</div>
		</div><!-- /container -->
		<script src="javascripts/nlform.js"></script>
		<script>
			var nlform = new NLForm( document.getElementById( 'nl-form' ) );
		</script>
                  <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">No, i'll go back</button>
                    
                  </div>
                </div>
              </div>
            </div>
          </div>

  {{{ body }}}
  <script src="/javascripts/jquery-3.4.1.js"></script>
  <script src="/javascripts/popper.min.js"></script>
  <script src="/javascripts/bootstrap.js"></script>
  {{#if formValidateJS}}
  <script src="/javascripts/form-validation.js"></script>
  {{/if}}
  
</body>

</html>