<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Robo-Danceoff</title>
  <link rel="stylesheet" href="/stylesheets/bootstrap.css">
  <link rel="stylesheet" href="/stylesheets/css/all.css">
  <link href="https://fonts.googleapis.com/css?family=Poppins:400,500,600&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="/stylesheets/main.css">
  <link rel="stylesheet" type="text/css" href="stylesheets/default.css" />
		<link rel="stylesheet" type="text/css" href="stylesheets/component.css" />
		<script src="javascripts/modernizr.custom.js"></script> 
  {{#if indexCSS}}
  <link rel="stylesheet" href="/stylesheets/index.css">
  {{/if}}
  {{#if formCSS}}
  <link rel="stylesheet" href="/stylesheets/form.css">
  {{/if}}
  {{#if errorCSS}}
  <link rel="stylesheet" href="/stylesheets/error.css">
  {{/if}}

  
</head>

<body style="background-color: rgb(147,36,36);" class="position-relative">

  <nav class="navbar fixed-top navbar-dark bg-dark">
    <a href="/" class="navbar-brand">Robo-Danceoff</a>
    <a href="#" class="nav-link btn btn-outline-light" data-toggle="modal" data-target="#enterTeam">Let's Dance</a>
    <a href="/leaderboard" class="nav-link btn btn-outline-light">Leaderboard</a>
  </nav>

  {{{ body }}}
  <script src="/javascripts/jquery-3.4.1.js"></script>
  <script src="/javascripts/popper.min.js"></script>
  <script src="/javascripts/bootstrap.js"></script>
  {{#if formValidateJS}}
  <script src="/javascripts/form-validation.js"></script>
  {{/if}}
  
</body>

</html>