

<div class="container demo-1">
			<!-- Top Navigation -->

			<img class="rounded-circle img-fluid" data-toggle="tooltip" data-bs-tooltip="" src="img/functional-chris.png" title="Functional Chris" style="width: 200px;background-color: #605959;margin-top: 25%;margin-left: 10%;">
			<img class="img-fluid" src="img/Versus_sign.png"
        style="width: 100px;margin-top: 25%;margin-left: 20%;">
		<img class="rounded-circle img-fluid" style="margin-top: 25%;background-color: #605959;width: 200px;margin-left: 20%;" src="img/sliding-stephanie.png">
			<br>
			<br><br>
			<button class="btn btn-dark mt-1 btn-lg btn-block" type="button" data-toggle="modal" data-target="#enterTeam">
				 <i class="fas fa-robot"></i> <span class="pl-1 d-none d-sm-inline-block">Let's get ready to DANCE</span>
            </button>
			 <!--Basic Search-->
            <div class="modal fade" id="enterTeam" tabindex="-1" role="dialog" aria-labelledby="Search Modal"
              aria-hidden="true">
              <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
                <div class="modal-content">
                  <div class="modal-header">
                    <h5 class="modal-title text-secondary font-weight-bold"><i class="fas fa-robot"></i> Give your Teams Names</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                      <span aria-hidden="true">&times;</span>
                    </button>
                  </div>
                  <div class="modal-body text-secondary">
          		<div class="main clearfix">
				<form id="nl-form" class="nl-form" action="result" method="GET">
					I'm looking for a shop called  
					<input type="text" name="shopName" value="" placeholder="Some Shop" data-subline="For example: <em>Spar</em> or <em>Media Markt</em>"/>
					<br />which is a
					<input type="text" name="category" value="" placeholder="non-specific" data-subline="For example: <em>Supermarket</em> or <em>Gift</em>"/>
					shop.
					
					<div class="nl-submit-wrap">
						<button class="nl-submit" type="submit">Find a shop</button>
						<button class="nl-submit" onclick="window.location.href='/advanced'" type="button">Advanced Search</button>
					</div>
					<div class="nl-overlay"></div>

				
				</form>
					Avaliabe Categories: <select id="category">
						<option value="" selected>non-specific</option>
						{{#each records}}
						<option value="{{this.category}}">{{this.category}}</option>
						{{/each}}
					</select>
			</div>
		</div><!-- /container -->
		<script src="javascripts/nlform.js"></script>
		<script>
			var nlform = new NLForm( document.getElementById( 'nl-form' ) );
		</script>
                  <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">No, i'll go back</button>
                    
                  </div>
                </div>
              </div>
            </div>
          </div>
			
	</body>