

<div class="container demo-1">
			<!-- Top Navigation -->
		
<div class="text-center">
	<br><br><br>
				<h1>Welcome to the inaugural Robo-Danceoff</h1>
			</div>
			<img class="rounded-circle img-fluid"  id="firstRobot" data-toggle="tooltip" data-bs-tooltip="" src="{{avatarOne}}"  style="width: 200px;background-color: #605959;margin-top: 15%;margin-left: 10%;">
			<img class="img-fluid" src="img/Versus_sign.png"
        style="width: 100px;margin-top: 15%;margin-left: 20%;">
		<img class="rounded-circle img-fluid" id="secondRobot" style="margin-top: 15%;background-color: #605959;width: 200px;margin-left: 20%;" src="{{avatarTwo}}">
			<br>
			<br><br>
			<button class="btn btn-dark mt-1 btn-lg btn-block" type="button" data-toggle="modal" data-target="#enterTeam">
				 <i class="fas fa-robot"></i> <span class="pl-1 d-none d-sm-inline-block">Let's get ready to DANCE</span>
            </button>
			
		
		
			
	</body>