<div class="container demo-1">
			<!-- Top Navigation -->

      <br>
      <br>
      <br>
      <div class="text-center">
      <h3><i class="fas fa-trophy"></i> Leaderboard</h3>
      </div>
      
 <table id="leaderboard" class="table table-dark table-hover" >
   <thead class="thead-dark">
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">Winner</th>
                        <th scope="col">Loser</th>
                        <th scope="col">Danced At</th>
                        
                        

                    </tr>
                </thead>
                <tbody>
                    {{#each leaderboardData}}
                        <tr>
                            <td>{{this.id}}</td>
                            <td>{{this.winner.name}}</td>
                            <td>{{this.loser.name}}</td>
                            <td>{{this.dancedAt}}</td>
                            
              
              
                            
                        </tr>
                    
                </tbody>
                {{/each}}
 </table>

          </div>
			
	</body>