#firstRobot {
    width: 200px;
    background-color: #605959;
    margin-top: 15%;
    margin-left: 10%;
}
#secondRobot {
    margin-top: 15%;
    background-color: #605959;
    width: 200px;
    margin-left: 20%;
}

#versus {
    width: 100px;
    margin-top: 15%;
    margin-left: 20%;
}