<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Shopping Kwiens</title>
  <link rel="stylesheet" href="/stylesheets/bootstrap.css">
  <link rel="stylesheet" href="/stylesheets/css/all.css">
  <link href="https://fonts.googleapis.com/css?family=Poppins:400,500,600&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="/stylesheets/main.css">
  <link rel="stylesheet" type="text/css" href="stylesheets/default.css" />
		<link rel="stylesheet" type="text/css" href="stylesheets/component.css" />
		<script src="javascripts/modernizr.custom.js"></script> 
  {{#if indexCSS}}
  <link rel="stylesheet" href="/stylesheets/index.css">
  {{/if}}
  {{#if formCSS}}
  <link rel="stylesheet" href="/stylesheets/form.css">
  {{/if}}
  {{#if errorCSS}}
  <link rel="stylesheet" href="/stylesheets/error.css">
  {{/if}}

  
</head>

<body class="position-relative">

  <nav class="navbar fixed-top navbar-dark bg-dark">
    {{#if user}}
    <a href="/admin" class="navbar-brand">Howzit {{user.name}}</a>
    <a href="/admin/shop" class="nav-link btn btn-outline-light">Shops</a>
    <a href="/admin/search" class="nav-link btn btn-outline-light">Favorites</a>
    <a href="/admin/poi" class="nav-link btn btn-outline-light">POI</a>
    <a href="/users/logout" class="nav-link btn btn-outline-light">Logout</a>
    {{else}}
    <a href="/" class="navbar-brand">Shopping Kwiens</a>
    <a href="/users/login" class="nav-link btn btn-outline-light">Login</a>
    {{/if}}
  </nav>

  {{{ body }}}
  <script src="/javascripts/jquery-3.4.1.js"></script>
  <script src="/javascripts/popper.min.js"></script>
  <script src="/javascripts/bootstrap.js"></script>
  {{#if formValidateJS}}
  <script src="/javascripts/form-validation.js"></script>
  {{/if}}
  
</body>

</html>